/* header background */
.header {
  background-image: linear-gradient(10deg, #32cd32, white);
  padding-left: 200px;
  height: 25rem;
  position: relative;
  width: 100rem;
}
#personal {
  background-color: #fff9e3;
  height: 25rem;
  width: 30rem;
  margin: auto;
  position: relative;
  padding-left: 15rem;

  right: 40rem;
}
@keyframes photo {
  0% {
    border-color: white;
  }
  25% {
    border-color: white;
  }
  50% {
    border-color: white;
  }
  75% {
    border-color: white;
  }
  100% {
    border-color: yellow;
    transform: rotate3d(1, -5, 1, -60deg);
  }
}

img {
  height: 250px;
  width: 477px;
  border-radius: 25px;

  position: relative;
  left: 60rem;
  bottom: 249px;

  animation-name: photo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
  transition: transform 3s;
  transition-delay: 4s;
  transition-timing-function: ease-in-out;
}

img:hover {
  transform: scale(-0.7, 1);
}
.house {
  color: blue;
  margin: auto;
  position: fixed;
  left: 160rem;
}

#Content1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#Name {
  font-size: 55px;
  position: relative;
  right: 155px;
}
#Career {
  font-size: 48px;
  position: relative;
  bottom: 30px;
  right: 150px;
}
.SkillsTools {
  display: flex;
  margin: auto;
  position: relative;
  top: 70px;
}

.insert1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  right: 600px;
  top: 40px;
}
.insert2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  left: 250px;
  top: 40px;
}

#Statment {
  font-size: larger;
  position: relative;
  top: 5px;
  right: 35px;
}
main {
  height: 250rem;
}
span {
  color: white;
}
.flex-container {
  display: flex;
  justify-content: center;

  width: 90%;

  background-image: linear-gradient(#7df9ff, white);
  padding-left: 30px;
  padding-right: 185px;
  position: relative;
  bottom: 109px;

  padding-bottom: 270px;
}
body {
  background-color: black;
  height: 100vh;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 102%;
  height: 72px;
  margin-bottom: 2rem;
}
.cen {
  font-size: 48px;
  margin: auto;
  margin-right: 9rem;
}
#wrk {
  font-size: 54px;
}
.links {
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 50px;

  font-size: 25px;
  font-style: italic;
}

.contained {
  display: flex;
  flex-direction: column;
}

.flex-item1 {
  background-color: #f0f0f0;
  width: 70%;
  height: 470px;
  position: relative;
  left: 15rem;

  flex-direction: column;

  display: flex;
  border-radius: 20px;
  margin-top: 80px;
  margin-left: 119px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 315px;
}
.Schools {
  color: white;
  font-size: 50px;
}
.coloumn {
  background-color: #4169e1;
  display: flex;
  width: 455px;
  flex-direction: column;
  padding-bottom: 39px;
  padding-left: 90px;
  padding-right: 350px;
}
.para {
  position: relative;
  left: 50px;
  font-size: 21px;
}
.colflex {
  position: relative;
  bottom: 110px;
  margin: auto;
}
.flex-full {
  display: flex;
  background-color: lightgray;

  margin: auto;
  margin-bottom: 120rem;
  padding-top: 60px;
  padding-bottom: 15rem;
  position: relative;
  bottom: 120px;
}

#Information {
  text-align: center;
  font-size: 55px;
}
#workep2 {
  background-image: linear-gradient(#1e90ff, #01f9c6);
  height: 44rem;

  position: relative;
  top: 80px;
  right: 10rem;
  padding-top: 20px;
  padding-bottom: 15rem;
}

#Informative {
  position: relative;
  text-align: center;
  font-size: 45px;
  font-family: luminari Regular;
}

footer {
  position: relative;
  top: 40rem;
  width: 100%;
  height: 70rem;

  background-color: #e8f1d4;
}
.git {
  font-size: 10rem;
  position: relative;
  bottom: 40%;
  left: 61%;
}
#Contact {
  position: relative;
  left: 90px;
  bottom: 10rem;
  font-size: 355%;
}
.contained {
  font-size: 250%;
  margin-bottom: 30px;
  position: relative;
  left: 90px;
  bottom: 41rem;
}
#Fname {
  padding-left: 12rem;
  padding-bottom: 2%;
}
#email {
  padding-left: 10%;
  padding-bottom: 2%;
}
#About {
  padding-left: 30%;
  padding-bottom: 6%;
}
/***************************************************************/

@media only screen and (max-width: 600px) {
  .header {
    margin: auto;
    width: 76rem;
    height: 66rem;
  }
  #personal {
    position: relative;
    right: 13rem;

    height: 20rem;
    margin: auto;
    margin-right: 90rem;

    padding-left: 30rem;
    padding-bottom: 46rem;
    width: 140px;
  }
  #Name {
    font-size: 50px;
    position: relative;
    right: 27rem;
    top: 20px;

    border-top: 4px solid white;
    border-left: 4px solid white;
  }
  #Career {
    font-size: 55px;

    position: relative;
    bottom: 30px;
    right: 20rem;
    width: 20rem;

    border-bottom: 4px solid white;
    border-right: 4px solid white;
  }
  #Statment {
    font-size: 40px;
    position: relative;
    right: 28rem;

    width: 34rem;
    height: 20px;
  }
  #Information {
    font-size: 6rem;
  }
  img {
    position: relative;
    left: 17rem;
    bottom: 20rem;
    height: 44rem;
    width: 37rem;
  }
  .flex {
    width: 88rem;
  }
  .flex-container {
    width: 75rem;
    padding-bottom: 25rem;
  }
  .flex-item1 {
    position: relative;

    left: 5rem;
    padding-top: 20px;
    padding-bottom: 40rem;
  }
  .coloumn {
    width: 61rem;
  }
  #workep2 {
    margin-left: 20rem;
    padding-bottom: 29rem;
  }
  .flex-full {
    width: 88rem;
  }
  #wrk {
    position: relative;
    left: 50px;
  }
  .cen {
    margin-left: 50px;
  }
  .SkillsTools {
    position: relative;
    left: 24em;
  }
  .insert1 {
    font-size: 30px;
    position: relative;
    right: 9rem;
  }
  .insert2 {
    font-size: 30px;
    position: relative;
    left: 6rem;
  }
  footer {
    width: 87rem;

    height: 20%;
    margin-top: 23rem;
    padding-bottom: 40rem;
  }
  .git {
    font-size: 10rem;
    position: relative;
    bottom: 40%;
    left: 61%;
  }
  #Contact {
    position: relative;
    left: 90px;
    top: 5%;
    font-size: 555%;
  }
  .contained {
    font-size: 250%;
    margin-bottom: 30px;
    position: relative;
    left: 90px;
    bottom: 28rem;
  }
  #Fname {
    padding-left: 12rem;
    padding-bottom: 2%;
  }
  #email {
    padding-left: 10%;
    padding-bottom: 2%;
  }
  #About {
    padding-left: 30%;
    padding-bottom: 6%;
  }
}
@media only screen and (min-width: 368px) {
  .header {
    width: 100rem;
    height: 49rem;
  }

  #personal {
    position: relative;
    right: 20rem;
    height: 3rem;

    padding-left: 50rem;
  }
  #Name {
    font-size: 70px;
    position: relative;
    right: 40rem;
    width: 35rem;
  }
  #Career {
    font-size: 55px;

    position: relative;
    bottom: 20px;
    right: 42rem;
    width: 35rem;
    padding-left: 30px;
  }
  #Statment {
    font-size: 49px;
    position: relative;
    right: 40rem;

    width: 34rem;
    height: 25px;
  }
  img {
    position: relative;
    left: 18rem;
    bottom: 16rem;
    height: 40rem;
    width: 39rem;
  }
  .flex {
    width: 113rem;
  }
  .flex-container {
    width: 99rem;
  }

  .coloumn {
    width: 85rem;
  }
  .flex-full {
    width: 113rem;
    padding-bottom: 22rem;
  }
  #workep2 {
    margin-left: 20rem;
    padding-bottom: 10rem;
  }

  #wrk {
    position: relative;
    left: 50px;
  }
  .cen {
    margin-left: 50px;
  }
  .SkillsTools {
    position: relative;
    left: 20em;
    margin-left: 21rem;
    padding-bottom: 9rem;
  }
  .insert1 {
    font-size: 30px;
  }
  .insert2 {
    font-size: 30px;
  }
  footer {
    width: 113rem;
    padding-top: 25rem;
    padding-bottom: 30rem;
    position: relative;
    top: 20rem;
    height: 30%;
  }
  .git {
    font-size: 10rem;
    position: relative;
    bottom: 40%;
    left: 61%;
  }
  #Contact {
    position: relative;
    left: 90px;
    bottom: 54px;
    font-size: 355%;
  }
  .contained {
    font-size: 250%;
    margin-bottom: 30px;
    position: relative;
    left: 90px;
    bottom: 35rem;
  }
  #Fname {
    padding-left: 12rem;
    padding-bottom: 2%;
  }
  #email {
    padding-left: 10%;
    padding-bottom: 2%;
  }
  #About {
    padding-left: 30%;
    padding-bottom: 6%;
  }
}
@media only screen and (min-width: 668px) {
  .header {
    background-color: blue;
    width: 130rem;
    height: 60rem;
  }

  #personal {
    position: relative;
    right: 50rem;
    width: 20rem;
    height: 60rem;
  }
  #Name {
    font-size: 70px;
    position: relative;
    right: 40rem;

    width: 35rem;
    border-color: blue;
  }
  #Career {
    font-size: 59px;

    position: relative;
    bottom: 20px;
    right: 42rem;
    width: 35rem;
    padding-left: 30px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    border-left: 4px solid white;
  }
  #Statment {
    font-size: 57px;
    position: relative;
    right: 25rem;
    top: 4rem;
  }
  img {
    position: relative;
    left: 35rem;
    bottom: 18rem;
    height: 50rem;
    width: 60rem;
  }
  .flex {
    width: 143rem;
  }
  .flex-container {
    width: 129rem;
  }
  #workep2 {
    margin: auto;
    margin-left: 20rem;
  }
  .coloumn {
    width: 115rem;
  }
  .flex-full {
    width: 142rem;
    padding-bottom: 20rem;
  }
  #wrk {
    position: relative;
    left: 50px;
  }
  .cen {
    margin-left: 50px;
  }
  .SkillsTools {
    margin: auto;
    margin-left: 32rem;
  }
  .insert1 {
    font-size: 30px;
  }
  .insert2 {
    font-size: 30px;
  }
  footer {
    width: 142rem;
    position: relative;
    top: 25rem;
    height: 40%;
  }
  #Contact {
    position: relative;
    bottom: 20rem;
    font-size: 10rem;
  }
  .contained {
    font-size: 250%;
    margin-bottom: 30px;
    position: relative;
    left: 90px;
    bottom: 40rem;
  }
}

@media only screen and (min-width: 792px) {
  .header {
    height: 41rem;
    width: 140rem;
  }

  #personal {
    position: relative;
    right: 49rem;
    height: 41rem;
    margin: auto;
    padding-left: 52rem;
  }

  #Statment {
    font-size: 53px;
    position: relative;
    top: 8%;
    right: 32rem;

    width: 43rem;
  }
  img {
    position: relative;
    left: 36rem;
    height: 30rem;
  }
  .flex {
    width: 153rem;
  }
  .flex-container {
    width: 140rem;
  }

  .coloumn {
    width: 126rem;
  }

  .flex-full {
    width: 154rem;
  }

  footer {
    width: 154rem;
    padding-bottom: 20rem;
  }
  #Contact {
    position: relative;
    left: 90px;
    bottom: 30rem;
    font-size: 15rem;
  }
  .contained {
    font-size: 250%;
    margin-bottom: 30px;
    position: relative;
    left: 90px;
    bottom: 60rem;
  }
  #Fname {
    padding-left: 12rem;
    padding-bottom: 2%;
  }
  #email {
    padding-left: 5%;
    padding-bottom: 2%;
  }
  #About {
    padding-left: 30%;
    padding-bottom: 6%;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    background-color: purple;
    width: 132rem;
    height: 45rem;
  }
  #personal {
    height: 45rem;
    width: 10%;
    position: relative;
    right: 40rem;

    margin-left: 19rem;
  }

  img {
    position: relative;
    bottom: 15rem;
    left: 25rem;
    width: 70rem;
  }
  .flex {
    width: 144rem;
  }
  .flex-container {
    width: 131rem;
  }

  .coloumn {
    width: 117rem;
  }
  .para {
    font-size: 29px;
  }
  .flex-full {
    width: 69rem;

    padding-left: 33rem;
    padding-right: 43rem;
  }
  #workep2 {
    margin: auto;
    width: 101rem;
  }

  .SkillsTools {
    position: relative;
    margin-left: 33px;
  }

  footer {
    height: 20rem;
    width: 145rem;
    bottom: 20px;
    margin-top: 40px;
    padding-bottom: 40rem;
  }
  #Contact {
    position: relative;
    left: 90px;
    bottom: 30rem;
    font-size: 15rem;
  }
  .contained {
    font-size: 250%;
    margin-bottom: 30px;
    position: relative;
    left: 90px;
    bottom: 50rem;
  }
  #Fname {
    padding-left: 12rem;
    padding-bottom: 2%;
  }
  #email {
    padding-left: 5%;
    padding-bottom: 2%;
  }
  #About {
    padding-left: 30%;
    padding-bottom: 6%;
  }
}
