/* header background */
.header {
  background-color: grey;
  width: 100%;
  height: 190px;
}
#personal {
  background-color: blue;
  width: 38%;
  height: 190px;
}
img {
  height: 155px;
  width: 190px;
  border-radius: 25px;
  margin-left: 160%;
  position: relative;
  bottom: 225px;
}
#Content1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#Name {
  font-size: 40px;
}
#Career {
  font-size: 40px;
  position: relative;
  bottom: 30px;
}
.Skills&Tools {
  display: flex;
}

.insert1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#Statment {
  font-size: larger;
  position: relative;
  bottom: 40px;
  left: 10px;
}
span {
  color: white;
}
.flex-container {
  display: flex;
  justify-content: center;
  margin-left: 85px;
  width: 94%;
  height: 888px;
  background-color: silver;
  padding-bottom: 125px;
}
body {
  background-color: black;
  width: 100%;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.cen {
  font-size: 35px;
  margin: auto;
}
.links {
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: white;
  font-size: 25px;
  font-style: italic;
}

.contained {
  display: flex;
  flex-direction: column;
}

.flex-item1 {
  background-color: white;
  width: 70%;
  height: 470px;
  position: relative;
  flex-direction: column;

  display: flex;
  border-radius: 20px;
  margin-top: 80px;
  margin-left: 119px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 315px;
}
.Schools {
  color: white;
  font-size: 50px;
}
.coloumn {
  background-color: gray;
  display: flex;
  width: 35%;
  flex-direction: column;
  margin-left: 85px;
  height: 459px;
  padding-left: 30px;
}
.flexbox-container {
  background-color: blue;

  width: 450px;
  padding-bottom: 35px;
  margin-left: 70%;
  margin-top: 30%;
  margin-bottom: 30%;
}
.Mini {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: blue;
}
.flex-full {
  display: flex;
  background-color: lightgray;
  width: 97%;
  height: 850px;
  padding-bottom: 100px;
  padding-top: 20px;
  margin-left: 87px;
}

#Information {
  text-align: center;
  font-size: 55px;
}
#workep2 {
  background-color: white;

  padding-bottom: 15%;
  padding-left: 5%;
  width: 70%;
  position: relative;
  margin-left: 10%;
  height: 45%;
  border-radius: 45px;
}

#Informative {
  position: relative;
  text-align: center;
  font-size: 45px;
  font-family: luminari Regular;
}

footer {
  padding-top: 20px;
  background-color: gray;
  width: 100%;

  height: 300px;
}

/*******************************/

@media only screen and (min-width: 130px) and (max-width: 320px) {
  .header {
    background-color: grey;
    width: 100%;
    height: 150px;
  }
  #personal {
    background-color: blue;
    width: 58%;
    height: 150px;
  }
  #Content1 {
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  #Name {
    font-size: 40px;
    margin: auto;
  }
  #Career {
    font-size: 20px;
    position: relative;
    bottom: 20px;
  }
  #Statment {
    font-size: larger;
    position: relative;
    bottom: 30px;
    left: 10px;
  }
}

@media only screen and (min-width: 149px) and (max-width: 450px) {
  .header {
    background-color: grey;
    width: 100%;
    height: 100px;
  }
  #personal {
    background-color: blue;
    width: 58%;
    height: 100px;
  }
  #Content1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: left;
  }

  #Name {
    font-size: smaller;
    text-align: left;
  }

  #Career {
    position: relative;
    bottom: 9px;
    font-size: 20px;
  }

  #Info2 {
    position: relative;
    top: 45px;
    left: 5px;
    background-image: linear-gradient(white, lightgrey);
    width: 2px;
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 45%;
  }
}
@media only screen and (min-width: 449px) and (max-width: 761px) {
  #Content1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: left;
  }

  #Name {
    font-size: smaller;
    text-align: left;
  }

  #Career {
    position: relative;
    bottom: 9px;
    font-size: 20px;
  }
}

/* @ media query from 350 height normal personal length longer resize font  */
/* 
@media only screen and (min-width: 320px) {
  .header {
    background-color: grey;
    width: 100%;
    height: 150px;
  }
  #personal {
    background-color: blue;
    width: 58%;
    height: 150px;
  }
  #Content1 {
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  #Name {
    font-size: 40px;
    margin: auto;
  }
  #Career {
    font-size: 20px;
    position: relative;
    bottom: 20px;
  }
  #Statment {
    font-size: larger;
    position: relative;
    bottom: 30px;
    left: 10px;
  }
}
*/
/*
@media only screen and (max-width: 480px) {
}
*/
